In [58]:
import pandas as pd

# 23년 월별 대여소별 이용정보 데이터 불러오기
data_2023_1 = pd.read_csv('서울특별시 공공자전거 대여소별 이용정보(월별)_23.1-6.csv', encoding='cp949')
data_2023_2 = pd.read_csv('서울특별시 공공자전거 대여소별 이용정보(월별)_23.7-12.csv', encoding='cp949')

In [59]:
# 2023년 상반기 공공자전거 대여소별 이용정보
# 이용정보는 대여소별 대여건수, 반납건수 확인 가능
data_2023_1

       자치구                            대여소명    기준년월   대여건수   반납건수
0      강남구                2301. 현대고등학교 건너편  202301   383    439
1      강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  202301   433    446
2      강남구                 2303. 논현역 10번출구  202301   648    508
3      강남구                    2304. 대현그린타워  202301    76     55
4      강남구              2305. MCM 본사 직영점 앞  202301   172    179
...    ...                             ...     ...    ...    ...
16301  중랑구              4837. 양원지구 힐데스하임 앞  202306    853    827
16302  중랑구             4838.동원사거리 행복오피스텔 앞  202306    900    669
16303  중랑구                4840. 서울시 북부병원 앞  202306    875    897
16304  중랑구                    4841. 중화수경공원  202306   1886   2147
16305  중랑구              4842. 면목라온프라이빗 아파트  202306    765    867

[16306 rows x 5 columns]

In [60]:
data_2023_2

       자치구                          대여소명    기준년월  대여건수  반납건수
0      마포구                  108. 서교동 사거리  202307  2019  2019
1      양천구              729. 서부식자재마트 건너편  202307  2105  2268
2      양천구             731. 서울시 도로환경관리센터  202307  3975  4042
3      양천구                    732. 신월중학교  202307  1284  1260
4      양천구              733. 신정이펜하우스314동  202307   934   451
...    ...                           ...     ...   ...   ...
16376  양천구  722. 경서농협 버스정류장(우리은행신정동지점방향)  202312   951   996
16377  양천구                   723. SBS방송국  202312  1707  1679
16378  양천구          724. 계남공원 입구 주출입구 좌측  202312   138    94
16379  양천구               725. 양강중학교앞 교차로  202312   299   138
16380  양천구            726. 목동3단지 시내버스정류장  202312  2345  2347

[16381 rows x 5 columns]

In [61]:
# 2023년 상반기 대여소 목록 확인
data_2023_1['대여소명']

0                      2301. 현대고등학교 건너편
1        2302. 교보타워 버스정류장(신논현역 3번출구 후면)
2                       2303. 논현역 10번출구
3                          2304. 대현그린타워
4                    2305. MCM 본사 직영점 앞
                      ...
16301                4837. 양원지구 힐데스하임 앞
16302               4838.동원사거리 행복오피스텔 앞
16303                  4840. 서울시 북부병원 앞
16304                      4841. 중화수경공원
16305                4842. 면목라온프라이빗 아파트
Name: 대여소명, Length: 16306, dtype: object

In [62]:
# 2023년 하반기 대여소 목록 확인
# 상반기랑 대여소 수가 다름
data_2023_2['대여소명']

0                        108. 서교동 사거리
1                    729. 서부식자재마트 건너편
2                   731. 서울시 도로환경관리센터
3                          732. 신월중학교
4                    733. 신정이펜하우스314동
                     ...
16376    722. 경서농협 버스정류장(우리은행신정동지점방향)
16377                     723. SBS방송국
16378            724. 계남공원 입구 주출입구 좌측
16379                 725. 양강중학교앞 교차로
16380              726. 목동3단지 시내버스정류장
Name: 대여소명, Length: 16381, dtype: object

- 1년의 데이터를 분석해야 하므로 2023년 사이에 사라지거나 새로 생긴 대여소는 포함하지 않기로 함
- 2023년 상반기, 하반기에 모두 존재하는 대여소만 추출하기

In [63]:
cyclelist_2023_1 = list(data_2023_1['대여소명'])
cyclelist_2023_2 = list(data_2023_2['대여소명'])

In [64]:
# 대여소명을 대여소 번호와 대여소명으로 분리 (상반기)
rental_num = []
rental_name = []

for i in cyclelist_2023_1:
    splited_info = i.split('.')
    if '에이텍' in i:
        # 에이택(as센터)는 대여소가 아니므로 추후 제외하기 위해, 대여소번호 9999로 임시 설정
        rental_num.append(9999)
        rental_name.append('AS센터')
    else:
        rental_num.append(int(splited_info[0]))
        rental_name.append(splited_info[1].strip())

In [65]:
data_2023_1['대여소명'] = rental_name
data_2023_1['대여소번호'] = rental_num
data_2023_1

       자치구                      대여소명    기준년월   대여건수   반납건수  대여소번호
0      강남구                현대고등학교 건너편  202301   383    439    2301
1      강남구  교보타워 버스정류장(신논현역 3번출구 후면)  202301   433    446    2302
2      강남구                 논현역 10번출구  202301   648    508    2303
3      강남구                    대현그린타워  202301    76     55    2304
4      강남구              MCM 본사 직영점 앞  202301   172    179    2305
...    ...                       ...     ...    ...    ...    ...
16301  중랑구              양원지구 힐데스하임 앞  202306    853    827   4837
16302  중랑구            동원사거리 행복오피스텔 앞  202306    900    669   4838
16303  중랑구                서울시 북부병원 앞  202306    875    897   4840
16304  중랑구                    중화수경공원  202306   1886   2147   4841
16305  중랑구              면목라온프라이빗 아파트  202306    765    867   4842

[16306 rows x 6 columns]

In [66]:
# 대여소명을 대여소 번호와 대여소명으로 분리 (하반기)
rental_num2 = []
rental_name2 = []

for i in cyclelist_2023_2:
    splited_info = i.split('.')
    if i == 'AS센터':
        # as센터는 대여소가 아니므로 추후 제외하기 위해, 대여소번호 9999로 임시 설정
        rental_num2.append(9999)
        rental_name2.append('AS센터')
    else:
        rental_num2.append(int(splited_info[0]))
        rental_name2.append(splited_info[1].strip())

In [67]:
data_2023_2['대여소명'] = rental_name2
data_2023_2['대여소번호'] = rental_num2
data_2023_2

       자치구                     대여소명    기준년월  대여건수  반납건수  대여소번호
0      마포구                  서교동 사거리  202307  2019  2019    108
1      양천구              서부식자재마트 건너편  202307  2105  2268    729
2      양천구             서울시 도로환경관리센터  202307  3975  4042    731
3      양천구                    신월중학교  202307  1284  1260    732
4      양천구              신정이펜하우스314동  202307   934   451    733
...    ...                      ...     ...   ...   ...    ...
16376  양천구  경서농협 버스정류장(우리은행신정동지점방향)  202312   951   996    722
16377  양천구                   SBS방송국  202312  1707  1679    723
16378  양천구          계남공원 입구 주출입구 좌측  202312   138    94    724
16379  양천구               양강중학교앞 교차로  202312   299   138    725
16380  양천구            목동3단지 시내버스정류장  202312  2345  2347    726

[16381 rows x 6 columns]

In [68]:
# 2023 상/하반기 데이터프레임 합치기
data_2023 = pd.concat([data_2023_1, data_2023_2])
data_2023

       자치구                      대여소명    기준년월   대여건수   반납건수  대여소번호
0      강남구                현대고등학교 건너편  202301   383    439    2301
1      강남구  교보타워 버스정류장(신논현역 3번출구 후면)  202301   433    446    2302
2      강남구                 논현역 10번출구  202301   648    508    2303
3      강남구                    대현그린타워  202301    76     55    2304
4      강남구              MCM 본사 직영점 앞  202301   172    179    2305
...    ...                       ...     ...    ...    ...    ...
16376  양천구   경서농협 버스정류장(우리은행신정동지점방향)  202312    951    996    722
16377  양천구                    SBS방송국  202312   1707   1679    723
16378  양천구           계남공원 입구 주출입구 좌측  202312    138     94    724
16379  양천구                양강중학교앞 교차로  202312    299    138    725
16380  양천구             목동3단지 시내버스정류장  202312   2345   2347    726

[32687 rows x 6 columns]

In [69]:
# 대여소번호, 기준년월 기준으로 데이터프레임 정렬
data_2023 = data_2023.sort_values(by=['대여소번호', '기준년월'])
data_2023 = data_2023.reset_index(drop=True)
data_2023

       자치구        대여소명    기준년월     대여건수     반납건수  대여소번호
0      마포구  망원역 1번출구 앞  202301   1,406    1,638     102
1      마포구  망원역 1번출구 앞  202302   2,034    2,361     102
2      마포구  망원역 1번출구 앞  202303   3,811    4,192     102
3      마포구  망원역 1번출구 앞  202304   3,921    3,933     102
4      마포구  망원역 1번출구 앞  202305   4,793    4,867     102
...    ...         ...     ...      ...      ...    ...
32682  성동구        AS센터  202308       53        3   9999
32683  성동구        AS센터  202309       82        4   9999
32684  성동구        AS센터  202310       46        2   9999
32685  성동구        AS센터  202311        2        0   9999
32686  성동구        AS센터  202312        9        3   9999

[32687 rows x 6 columns]

In [70]:
# AS센터 (대여소번호 9999로 설정한) 삭제
data_2023.drop(data_2023[data_2023['대여소번호'] == 9999].index, inplace=True)

In [71]:
# 대여소번호 9979 테스트 대여소 추가 삭제
data_2023.drop(data_2023[data_2023['대여소번호'] == 9979].index, inplace=True)
data_2023

       자치구        대여소명    기준년월     대여건수     반납건수  대여소번호
0      마포구  망원역 1번출구 앞  202301   1,406    1,638     102
1      마포구  망원역 1번출구 앞  202302   2,034    2,361     102
2      마포구  망원역 1번출구 앞  202303   3,811    4,192     102
3      마포구  망원역 1번출구 앞  202304   3,921    3,933     102
4      마포구  망원역 1번출구 앞  202305   4,793    4,867     102
...    ...         ...     ...      ...      ...    ...
32668   중구        한국경제  202311      412      443   6055
32669   중구        한국경제  202312      268      269   6055
32670  강서구      월드빌딩 앞  202311      418      387   6171
32671  강서구      월드빌딩 앞  202312      662      640   6171
32672  강서구    가양5단지아파트  202312       22       29   6172

[32673 rows x 6 columns]

In [72]:
# 대여건수 중 문자열 정수형으로 바꾸기
for i in data_2023.index:
    number = data_2023['대여건수'].loc[i]
    if isinstance(number, str):
        number = number.strip()
        if ',' in number:
            number = number.replace(',', '')
        if '-' in number:
            number = '0'
        number = int(number)
        data_2023['대여건수'].loc[i] = number

/var/folders/_b/6lz4nnpx49579btkl7_ctft80000gn/T/ipykernel_16858/905519012.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2023['대여건수'].loc[i] = number

In [73]:
# 반납건수 중 문자열 정수형으로 바꾸기
for i in data_2023.index:
    number = data_2023['반납건수'].loc[i]
    if isinstance(number, str):
        number = number.strip()
        if ',' in number:
            number = number.replace(',', '')
        if '-' in number:
            number = '0'
        number = int(number)
        data_2023['반납건수'].loc[i] = number

/var/folders/_b/6lz4nnpx49579btkl7_ctft80000gn/T/ipykernel_16858/914876753.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2023['반납건수'].loc[i] = number

In [74]:
#대여소 번호 목록(집합)
rental_num_2023 = set(data_2023['대여소번호'])
len(rental_num_2023)

2786

In [75]:
data_2023

       자치구        대여소명    기준년월  대여건수  반납건수  대여소번호
0      마포구  망원역 1번출구 앞  202301  1406  1638    102
1      마포구  망원역 1번출구 앞  202302  2034  2361    102
2      마포구  망원역 1번출구 앞  202303  3811  4192    102
3      마포구  망원역 1번출구 앞  202304  3921  3933    102
4      마포구  망원역 1번출구 앞  202305  4793  4867    102
...    ...         ...     ...   ...   ...    ...
32668   중구        한국경제  202311   412   443   6055
32669   중구        한국경제  202312   268   269   6055
32670  강서구      월드빌딩 앞  202311   418   387   6171
32671  강서구      월드빌딩 앞  202312   662   640   6171
32672  강서구    가양5단지아파트  202312    22    29   6172

[32673 rows x 6 columns]

In [76]:

#새 데이터프레임 (대여반납 순위)에 넣을 열 자료들
rent_num = []
rent_name = []
rent_area = []
borrow = []
turnin = []
collected = []

for num in list(rental_num_2023):
    #대여소번호, 대여소명, 자치구 추가
    rent_num.append(num)
    
    num_name = list(data_2023[data_2023['대여소번호'] == num]['대여소명'])[-1] # 최신 이름으로
    rent_name.append(num_name)
    
    num_area = list(data_2023[data_2023['대여소번호'] == num]['자치구'])[-1]
    rent_area.append(num_area)
    
    #대여소별 1년 대여건수, 반납건수 합, 대여건수-반납건수
    num_borrow = sum(data_2023[data_2023['대여소번호'] == num]['대여건수'])
    num_turnin = sum(data_2023[data_2023['대여소번호'] == num]['반납건수'])
    num_collect = num_turnin - num_borrow
    
    borrow.append(num_borrow)
    turnin.append(num_turnin)
    collected.append(num_collect)

In [77]:
# 대여소별 1년 대여건수/반납건수와 반납-대여건수 데이터가 담긴 새로운 데이터프레임 생성
data_rank_2023 = pd.DataFrame({'대여소번호' : rent_num,
                               '대여소명' : rent_name,
                               '자치구' : rent_area,
                               '대여건수' : borrow,
                               '반납건수' : turnin,
                               '반납건수-대여건수' : collected})

data_rank_2023

      대여소번호               대여소명  자치구   대여건수   반납건수  반납건수-대여건수
0       102         망원역 1번출구 앞  마포구  43079  45033       1954
1       103         망원역 2번출구 앞  마포구  35816  38586       2770
2       104         합정역 1번출구 앞  마포구  22213  18575      -3638
3       105         합정역 5번출구 앞  마포구  12625  11335      -1290
4       106         합정역 7번출구 앞  마포구  36440  35940       -500
...     ...                ...  ...    ...    ...        ...
2781   6053            중부세무서 앞   중구   2792   2561       -231
2782   6054  청구e편한세상아파트 113동 앞   중구  13675  14273        598
2783   6055               한국경제   중구   2104   2088        -16
2784   6171             월드빌딩 앞  강서구   1080   1027        -53
2785   6172           가양5단지아파트  강서구     22     29          7

[2786 rows x 6 columns]

In [78]:
# 반납-대여건수 내림차순으로 정렬 후 내보내기
data_rank_2023_sorted2 = data_rank_2023.sort_values(by='반납건수-대여건수')
data_rank_2023_sorted2.to_csv('/Users/parkhaneul/DataScience/project_datascience/2023년 따릉이 대여소별 대여반납건수(반납건수-대여건수 내림차순)_240512.csv', index=False, encoding='cp949')

In [112]:
# 상위 30개만 내보내기
high_rank_30_2023 = data_rank_2023_sorted2[:30]
high_rank_30_2023.to_csv('/Users/parkhaneul/DataScience/project_datascience/[상위 30개]2023년 따릉이 대여소별 대여반납건수(반납건수-대여건수 내림차순)_240512.csv', index=False, encoding='cp949')

In [81]:
data_rank_2023_sorted.to_csv('/Users/parkhaneul/DataScience/project_datascience/2023년 따릉이 대여소별 대여반납건수_240512.csv', index=False, encoding='cp949')

In [84]:
# 월별 대여건수 확인
month_rental = []

for i in range(202301, 202313):
    data = sum(data_2023[data_2023['기준년월'] == i]['대여건수'])
    month_rental.append(data)
    
month_rental

[1571439,
 2231490,
 3885513,
 4082065,
 4952804,
 4874245,
 3931912,
 3935440,
 4548991,
 5293195,
 3433935,
 2104442]